org.cmdbuild.auth.module.saml.handlerScript={{ auth["saml"]["handler_script"] }}
org.cmdbuild.auth.module.saml.idp.cert={{ auth["saml"]["idp"]["cert"]["path"] }}
org.cmdbuild.auth.module.saml.idp.id={{ auth["saml"] }}
org.cmdbuild.auth.module.saml.idp.login={{ auth["saml"] }}
org.cmdbuild.auth.module.saml.idp.logout={{ auth["saml"] }}
org.cmdbuild.auth.module.saml.logout.enabled={{ auth["saml"] }}
org.cmdbuild.auth.module.saml.requireSignedAssertions={{ auth["saml"] }}
org.cmdbuild.auth.module.saml.requireSignedMessages={{ auth["saml"] }}
org.cmdbuild.auth.module.saml.signatureAlgorithm={{ auth["saml"] }}
org.cmdbuild.auth.module.saml.sp.baseUrl={{ auth["saml"] }}
org.cmdbuild.auth.module.saml.sp.cert={{ auth["saml"] }}
org.cmdbuild.auth.module.saml.sp.id={{ auth["saml"] }}
org.cmdbuild.auth.module.saml.sp.key={{ auth["saml"] }}
org.cmdbuild.auth.module.saml.strict={{ auth["saml"] }}
